nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
  color: black;
}
.login_from {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 40%;
  /* border: 1px solid seagreen; */
}
.login_from input {
  margin: 10px;
}
.main {
  display: flex;
  justify-content: center;
  border: 1px dashed darkorange;
  height: 90vh;
}
